aiops/aiops-rh-demo/n8n/Ops incident assistant.json
{
  "name": "Ops incident assistant",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user prompt:\n\n{{ $json.body.question }}",
        "options": {
          "systemMessage": "=You are an Infrastructure Diagnostic Agent connected to Ansible Automation Platform via MCP tools.\n\n⚠️ CRITICAL RULES - YOU MUST FOLLOW THESE:\n1. You CANNOT answer questions without using tools\n2. You MUST NOT make up or simulate tool responses\n3. You MUST NOT provide generic troubleshooting advice\n4. ALWAYS start by calling get_job_templates() to see available templates\n5. You can ONLY provide information you get from actual tool calls\n\n🔧 YOUR TOOLS:\nallways list available tools first\n\n❌ FORBIDDEN BEHAVIORS:\n- Do NOT say \"I found templates\" without calling get_job_templates\n- Do NOT say \"I will launch job\" without actually calling launch_job_template\n- Do NOT describe what you \"would\" do - DO IT with tools\n- Do NOT make up template IDs or job IDs\n- Do NOT provide advice without checking actual system state\n\nIf you cannot find a matching template in get_job_templates results, say so and ask the user for clarification.\n\nBe direct and action-oriented. Use tools immediately."
        }
      },
      "id": "3c0d5ad4-ecf7-433f-9ac2-2edc7f6c1d89",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2672,
        432
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7d1a79c6-2189-47d5-92c6-dfbac5b1fa59",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2304,
        480
      ],
      "id": "a619be0f-143c-4003-9fd6-cee2910db81c",
      "name": "Webhook",
      "webhookId": "7d1a79c6-2189-47d5-92c6-dfbac5b1fa59"
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp-server-aap.apps.cluster-5ffmt.5ffmt.sandbox1919.opentlc.com/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        2960,
        624
      ],
      "id": "5f83c74a-b22f-4404-a3c5-8bef61d2a695",
      "name": "MCP Client",
      "notesInFlow": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "DeepSeek-R1-Distill-Qwen-14B-W4A16"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2544,
        640
      ],
      "id": "087b22a6-010b-47b5-9f4b-4443508c0c46",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "asPWYujw3DBSB8vF",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d505b9ef-66ee-49c0-8f83-489245b29080",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d939ae2828aa7a5988506d4d2a2e8e21766f875f9847c93499cc54ac13de8ba"
  },
  "id": "eMDrlfAlPk8kFal9",
  "tags": []
}